@import url("reset.css");


body {	
}

.wrapper {
	margin-right:15%;
	margin-left:15%;
}
.header {
	background-color: powderblue;
}

.cityname {
	font-size: 60px;
	text-align: center;
}

.userbox {
	float:right;
}

.searchbox {
	float:left;
}

